{
  "notice": "This file is maintained by MPaaS automatically.",
  "project": "Runner",
  "copy": false,
  "targets": {
    "Runner": {
      "author": "bangdong.chen",
      "time": "2020/08/27 11:17:11",
      "versions": {
        "mPaaS_AMap": {
          "AMapFoundationKit": "1.0.0.190918200003",
          "MAMapKit": "2.4.0.190918200148",
          "AMapSearchKit": "1.0.0.190918200148"
        },
        "mPaaS_CommonUI": {
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "AntUIShellForMpass": "1.0.0.200421105830"
        },
        "mPaaS_DataCenter": {
          "MPDataCenter": "1.0.0.200302154544",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_LocalLog": {
          "APLog": "3.0.2.200619152113"
        },
        "mPaaS_Lottie": {
          "Lottie": "1.0.0.200228135004"
        },
        "mPaaS_MBProgressHud": {
          "MBProgressHUD": "1.0.0.200406133247"
        },
        "mPaaS_Masonry": {
          "Masonry": "1.0.0.200406133247"
        },
        "mPaaS_MobileFramework": {
          "APMobileFramework": "1.0.0.200729190444",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209"
        },
        "mPaaS_Multimedia": {
          "APMultimedia": "1.0.0.200407104438",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "APMobileFramework": "1.0.0.200729190444",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MPDataCenter": "1.0.0.200302154544",
          "APWebP": "1.0.0.200302192253",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "APMUtils": "1.0.0.200617195627",
          "APMBeauty": "1.0.0.200302181840",
          "APMTaskManager": "1.0.0.200302181840",
          "APMCache": "1.0.0.200302181840",
          "APMImageProcessing": "1.0.0.200302181840",
          "Texel": "1.0.0.200302182449",
          "NebulaPoseidon": "1.3.0.200518101951",
          "APMCDNImage": "1.0.0.200302181840",
          "MPMgsAdapter": "1.0.0.200525171627",
          "MPMasAdapter": "1.0.0.200716143211"
        },
        "mPaaS_Nebula": {
          "NebulaBiz": "1.0.0.200728170925",
          "APMobileFramework": "1.0.0.200729190444",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "APWebP": "1.0.0.200302192253",
          "Nebula": "1.0.0.200715153757",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.200228175209",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaPoseidon": "1.3.0.200518101951",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527",
          "NebulaKernel": "1.0.0.200228142526",
          "APMultimedia": "1.0.0.200407104438",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MPDataCenter": "1.0.0.200302154544",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "APMUtils": "1.0.0.200617195627",
          "APMBeauty": "1.0.0.200302181840",
          "APMTaskManager": "1.0.0.200302181840",
          "APMCache": "1.0.0.200302181840",
          "APMImageProcessing": "1.0.0.200302181840",
          "Texel": "1.0.0.200302182449",
          "APMCDNImage": "1.0.0.200302181840",
          "NebulaAppBiz": "1.0.0.200407152548",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "NebulaTinyapp": "1.0.0.200421110729",
          "NebulaConfig": "1.0.0.200715153757",
          "TinyAppCommon": "1.0.0.200716162421",
          "NebulaNetwork": "1.0.0.200728170925",
          "SocketRocket": "1.0.0.200811152708",
          "NebulaSecurity": "1.0.0.200507202546",
          "MPNebulaAdapter": "1.0.0.200611212421",
          "NebulamPaaSBiz": "1.0.0.200407104438",
          "MPMpaaSService": "1.0.0.200407120859",
          "NebulaHeader": "1.0.0.200407094748",
          "MPMasAdapter": "1.0.0.200716143211",
          "MPMgsAdapter": "1.0.0.200525171627",
          "MPMssAdapter": "1.0.0.200525171627",
          "AntUIShellForMpass": "1.0.0.200421105830"
        },
        "mPaaS_OpenSSL": {
          "APOpenSSL": "1.0.0.200228175209"
        },
        "mPaaS_RPC": {
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "MPMgsAdapter": "1.0.0.200525171627",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "MPMasAdapter": "1.0.0.200716143211"
        },
        "mPaaS_SDWebImage": {
          "SDWebImage": "1.0.0.200404155527"
        },
        "mPaaS_ScanCode": {
          "TBScanSDK": "1.0.0.200812112323",
          "APRemoteLogging": "1.0.0.200813113130",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "MPMasAdapter": "1.0.0.200716143211"
        },
        "mPaaS_Sync": {
          "APLongLinkService": "1.0.0.200407162932",
          "APLog": "3.0.2.200619152113",
          "APProtocolBuffers": "1.0.1.200228175209",
          "mPaas": "1.0.0.200803101200",
          "MPDataCenter": "1.0.0.200302154544",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "UTDID": "1.0.2.190226130141",
          "MPMssAdapter": "1.0.0.200525171627",
          "APRemoteLogging": "1.0.0.200813113130",
          "MPMasAdapter": "1.0.0.200716143211"
        },
        "mPaaS_TTTAttributedLabel": {
          "TTTAttributedLabel": "1.0.0.200729094531"
        },
        "mPaaS_TinyApp": {
          "NebulaBiz": "1.0.0.200728170925",
          "APMobileFramework": "1.0.0.200729190444",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "APWebP": "1.0.0.200302192253",
          "Nebula": "1.0.0.200715153757",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "APOpenSSL": "1.0.0.200228175209",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaPoseidon": "1.3.0.200518101951",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527",
          "NebulaKernel": "1.0.0.200228142526",
          "APMultimedia": "1.0.0.200407104438",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MPDataCenter": "1.0.0.200302154544",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "APMUtils": "1.0.0.200617195627",
          "APMBeauty": "1.0.0.200302181840",
          "APMTaskManager": "1.0.0.200302181840",
          "APMCache": "1.0.0.200302181840",
          "APMImageProcessing": "1.0.0.200302181840",
          "Texel": "1.0.0.200302182449",
          "APMCDNImage": "1.0.0.200302181840",
          "NebulaAppBiz": "1.0.0.200407152548",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "NebulaTinyapp": "1.0.0.200421110729",
          "NebulaConfig": "1.0.0.200715153757",
          "TinyAppCommon": "1.0.0.200716162421",
          "NebulaNetwork": "1.0.0.200728170925",
          "SocketRocket": "1.0.0.200811152708",
          "NebulaSecurity": "1.0.0.200507202546",
          "NebulaSDKPlugins": "1.0.0.200728170925",
          "NebulaHeader": "1.0.0.200407094748",
          "NebulaTinyAppDebug": "1.0.0.200716162421",
          "MPNebulaAdapter": "1.0.0.200611212421",
          "NebulamPaaSBiz": "1.0.0.200407104438",
          "MPMpaaSService": "1.0.0.200407120859",
          "MPMasAdapter": "1.0.0.200716143211",
          "MPMgsAdapter": "1.0.0.200525171627",
          "MPMssAdapter": "1.0.0.200525171627",
          "APBLESDK": "1.0.0.200228181541",
          "AOMPFileManager": "1.0.0.200228173902",
          "AOMPDevice": "1.0.0.200407101910",
          "Lottie": "1.0.0.200228135004",
          "AntUIShellForMpass": "1.0.0.200421105830",
          "TinyappService": "1.0.0.200609130246",
          "TBScanSDK": "1.0.0.200812112323",
          "BeeLocationPicker": "1.0.0.200407101856",
          "APMap": "1.1.0.200508162904",
          "AMapSearchKit": "1.0.0.190918200148",
          "MAMapKit": "2.4.0.190918200148",
          "AMapFoundationKit": "1.0.0.190918200003",
          "APMobileLBS": "1.0.1.200811151831",
          "BeePhoto": "1.0.0.200407101856",
          "BeePhotoBrowser": "1.0.0.200407101856",
          "BeeMediaPlayer": "1.0.0.200228134728",
          "BeePhotoPicker": "1.0.0.200407101856",
          "BEEAudioUtil": "1.0.0.200228120654",
          "BeeCityPicker": "1.0.0.200511171746",
          "BeeCapture": "1.0.0.200228120654",
          "SPMTracker": "1.0.0.200302192253",
          "APMAudioProcessing": "1.0.0.200302181840",
          "MPScanCodeAdapter": "1.0.0.200715153757"
        },
        "mPaaS_TinyApp_Device": {
          "APBLESDK": "1.0.0.200228181541",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "APMobileFramework": "1.0.0.200729190444",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaPoseidon": "1.3.0.200518101951",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MPDataCenter": "1.0.0.200302154544",
          "Nebula": "1.0.0.200715153757",
          "NebulaKernel": "1.0.0.200228142526",
          "AOMPFileManager": "1.0.0.200228173902",
          "APMultimedia": "1.0.0.200407104438",
          "APWebP": "1.0.0.200302192253",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "APMUtils": "1.0.0.200617195627",
          "APMBeauty": "1.0.0.200302181840",
          "APMTaskManager": "1.0.0.200302181840",
          "APMCache": "1.0.0.200302181840",
          "APMImageProcessing": "1.0.0.200302181840",
          "Texel": "1.0.0.200302182449",
          "APMCDNImage": "1.0.0.200302181840",
          "NebulaTinyAppDebug": "1.0.0.200716162421",
          "NebulaNetwork": "1.0.0.200728170925",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "SocketRocket": "1.0.0.200811152708",
          "TinyAppCommon": "1.0.0.200716162421",
          "NebulaTinyapp": "1.0.0.200421110729",
          "NebulaConfig": "1.0.0.200715153757",
          "AOMPDevice": "1.0.0.200407101910"
        },
        "mPaaS_TinyApp_Location": {
          "APMobileLBS": "1.0.1.200811151831",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "MPDataCenter": "1.0.0.200302154544",
          "AMapFoundationKit": "1.0.0.190918200003",
          "MAMapKit": "2.4.0.190918200148",
          "Nebula": "1.0.0.200715153757",
          "APMobileFramework": "1.0.0.200729190444",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaPoseidon": "1.3.0.200518101951",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527",
          "NebulaKernel": "1.0.0.200228142526",
          "NebulaBiz": "1.0.0.200728170925",
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "APWebP": "1.0.0.200302192253",
          "APMultimedia": "1.0.0.200407104438",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "APMUtils": "1.0.0.200617195627",
          "APMBeauty": "1.0.0.200302181840",
          "APMTaskManager": "1.0.0.200302181840",
          "APMCache": "1.0.0.200302181840",
          "APMImageProcessing": "1.0.0.200302181840",
          "Texel": "1.0.0.200302182449",
          "APMCDNImage": "1.0.0.200302181840",
          "NebulaAppBiz": "1.0.0.200407152548",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "NebulaTinyapp": "1.0.0.200421110729",
          "NebulaConfig": "1.0.0.200715153757",
          "TinyAppCommon": "1.0.0.200716162421",
          "NebulaNetwork": "1.0.0.200728170925",
          "SocketRocket": "1.0.0.200811152708",
          "NebulaSecurity": "1.0.0.200507202546",
          "AMapSearchKit": "1.0.0.190918200148",
          "APMap": "1.1.0.200508162904",
          "AOMPFileManager": "1.0.0.200228173902",
          "NebulaTinyAppDebug": "1.0.0.200716162421",
          "BeeLocationPicker": "1.0.0.200407101856",
          "BeeCityPicker": "1.0.0.200511171746"
        },
        "mPaaS_TinyApp_Multimedia": {
          "BeePhoto": "1.0.0.200407101856",
          "APMobileNetwork": "1.0.0.200811152708",
          "SecurityGuardSDK": "2.2.3.190326110928",
          "APSecurityUtility": "1.2.0.171012202618",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "APOpenSSL": "1.0.0.200228175209",
          "APMobileFramework": "1.0.0.200729190444",
          "APRemoteLogging": "1.0.0.200813113130",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "APCommonUI": "1.0.0.200729104902",
          "AntUI": "1.0.0.200730101103",
          "Masonry": "1.0.0.200406133247",
          "MBProgressHUD": "1.0.0.200406133247",
          "TTTAttributedLabel": "1.0.0.200729094531",
          "BeePhotoBrowser": "1.0.0.200407101856",
          "BeeMediaPlayer": "1.0.0.200228134728",
          "APMultimedia": "1.0.0.200407104438",
          "APConfig": "1.0.0.200421115524",
          "APLongLinkService": "1.0.0.200407162932",
          "MPDataCenter": "1.0.0.200302154544",
          "APWebP": "1.0.0.200302192253",
          "MASSProxy": "1.0.0.200228175209",
          "MASSChannel": "1.0.0.200228175209",
          "APMUtils": "1.0.0.200617195627",
          "APMBeauty": "1.0.0.200302181840",
          "APMTaskManager": "1.0.0.200302181840",
          "APMCache": "1.0.0.200302181840",
          "APMImageProcessing": "1.0.0.200302181840",
          "Texel": "1.0.0.200302182449",
          "NebulaPoseidon": "1.3.0.200518101951",
          "APMCDNImage": "1.0.0.200302181840",
          "Nebula": "1.0.0.200715153757",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527",
          "NebulaKernel": "1.0.0.200228142526",
          "BeePhotoPicker": "1.0.0.200407101856",
          "NebulaHeader": "1.0.0.200407094748",
          "AOMPFileManager": "1.0.0.200228173902",
          "NebulaTinyAppDebug": "1.0.0.200716162421",
          "NebulaNetwork": "1.0.0.200728170925",
          "NebulaLogging": "1.0.0.200228144455",
          "AutoTracker": "1.0.0.200302154544",
          "SocketRocket": "1.0.0.200811152708",
          "TinyAppCommon": "1.0.0.200716162421",
          "NebulaTinyapp": "1.0.0.200421110729",
          "NebulaConfig": "1.0.0.200715153757"
        },
        "mPaaS_TinyApp_Scan": {
          "MPScanCodeAdapter": "1.0.0.200715153757",
          "TBScanSDK": "1.0.0.200812112323",
          "APRemoteLogging": "1.0.0.200813113130",
          "mPaas": "1.0.0.200803101200",
          "APLog": "3.0.2.200619152113",
          "UTDID": "1.0.2.190226130141",
          "APProtocolBuffers": "1.0.1.200228175209",
          "NebulaSDK": "1.0.0.200728170925",
          "NebulaPoseidon": "1.3.0.200518101951",
          "NebulaAppManager": "1.3.0.200407152548",
          "SDWebImage": "1.0.0.200404155527"
        },
        "mPaaS_UTDIDLib": {
          "UTDID": "1.0.2.190226130141"
        }
      },
      "baseline": "10.1.68",
      "pversion": "15",
      "custom": false,
      "frameworks": [
        "AMapFoundationKit.framework",
        "MAMapKit.framework",
        "AMapSearchKit.framework",
        "APCommonUI.framework",
        "AntUI.framework",
        "Masonry.framework",
        "MBProgressHUD.framework",
        "TTTAttributedLabel.framework",
        "AntUIShellForMpass.framework",
        "MPDataCenter.framework",
        "mPaas.framework",
        "APLog.framework",
        "Lottie.framework",
        "APMobileFramework.framework",
        "APRemoteLogging.framework",
        "UTDID.framework",
        "APProtocolBuffers.framework",
        "APMultimedia.framework",
        "APMobileNetwork.framework",
        "SecurityGuardSDK.framework",
        "SGMain.framework",
        "APSecurityUtility.framework",
        "APOpenSSL.framework",
        "APConfig.framework",
        "APLongLinkService.framework",
        "APWebP.framework",
        "MASSProxy.framework",
        "MASSChannel.framework",
        "APMUtils.framework",
        "APMBeauty.framework",
        "APMTaskManager.framework",
        "APMCache.framework",
        "APMImageProcessing.framework",
        "Texel.framework",
        "NebulaPoseidon.framework",
        "APMCDNImage.framework",
        "MPMgsAdapter.framework",
        "MPMasAdapter.framework",
        "NebulaBiz.framework",
        "Nebula.framework",
        "NebulaSDK.framework",
        "NebulaAppManager.framework",
        "SDWebImage.framework",
        "NebulaKernel.framework",
        "NebulaAppBiz.framework",
        "NebulaLogging.framework",
        "AutoTracker.framework",
        "NebulaTinyapp.framework",
        "NebulaConfig.framework",
        "TinyAppCommon.framework",
        "NebulaNetwork.framework",
        "SocketRocket.framework",
        "NebulaSecurity.framework",
        "MPNebulaAdapter.framework",
        "NebulamPaaSBiz.framework",
        "MPMpaaSService.framework",
        "NebulaHeader.framework",
        "MPMssAdapter.framework",
        "TBScanSDK.framework",
        "TBDecodeSDK.framework",
        "NebulaSDKPlugins.framework",
        "NebulaTinyAppDebug.framework",
        "APBLESDK.framework",
        "AOMPFileManager.framework",
        "AOMPDevice.framework",
        "TinyappService.framework",
        "BeeLocationPicker.framework",
        "APMap.framework",
        "APMobileLBS.framework",
        "BeePhoto.framework",
        "BeePhotoBrowser.framework",
        "BeeMediaPlayer.framework",
        "BeePhotoPicker.framework",
        "BEEAudioUtil.framework",
        "BeeCityPicker.framework",
        "BeeCapture.framework",
        "SPMTracker.framework",
        "APMAudioProcessing.framework",
        "MPScanCodeAdapter.framework"
      ],
      "resources": [
        "AMap.bundle",
        "APCommonUI.bundle",
        "TTTAttributedLabel.bundle",
        "APMobileFramework.bundle",
        "APRemoteLogging.bundle",
        "APMultimedia.bundle",
        "APMobileNetwork.bundle",
        "APMUtils.bundle",
        "APMImageProcessing.bundle",
        "Texel.bundle",
        "APMCDNImage.bundle",
        "NebulaPoseidon.bundle",
        "NebulaBiz.bundle",
        "NebulaSDK.bundle",
        "NebulaAppManager.bundle",
        "NebulaKernel.bundle",
        "NebulaLogging.bundle",
        "NebulaTinyapp.bundle",
        "NebulaConfig.bundle",
        "TinyAppCommon.bundle",
        "MPInternalPresetApps.bundle",
        "MPNebulaAdapter.bundle",
        "MPInternalPlugins.bundle",
        "TBScanSDK.bundle",
        "TBDecodeSDK.bundle",
        "NebulaSDKPlugins.bundle",
        "AOMPDevice.bundle",
        "TinyappService.bundle",
        "BeeLocationPicker.bundle",
        "APMap.bundle",
        "BeePhoto.bundle",
        "BeePhotoBrowser.bundle",
        "BeeMediaPlayer.bundle",
        "BeePhotoPicker.bundle",
        "BEEAudioUtil.bundle",
        "BeeCityPicker.bundle",
        "BeeCapture.bundle"
      ]
    }
  },
  "recent": "Runner"
}